.darkmode-switcher {
  label { 
    position: relative;
  }
}

.darkmode-switcher:after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: linear-gradient(180deg, #ffcc89, #f17300);
  border-radius: 30px;
  box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.inputDark:checked + .darkmode-switcher:after {
  left: 42px;
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.inputDark:active + .darkmode-switcher:after {
  width: 39px;
}


@media (max-width: 767px) {
  .darkmode-switcher:after {
    width: 22px;
    height: 22px;
    top: 3px;
    left: 3px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .inputDark:checked + .darkmode-switcher:after {
    left: 33px;
  }

  .inputDark:active + .darkmode-switcher:after {
    width: 26px;
  }
}