@import "tailwindcss";

* {
 font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@theme {
  --color-primary: #054a91;
  --color-secondary: #3e7cb1;
  --color-accent: #f17300;
  --color-background: #ffffff;
  --color-card: #dbe4ee;
  --color-text: #054a91;
  --color-muted: #81a4cd;
}

.text_logo {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}
