@import "tailwindcss";

* {
 font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@theme {
  --color-primary: #054a91;
  --color-secondary: #3e7cb1;
  --color-accent: #f17300;
  --color-background: #ffffff;
  --color-card: #dbe4ee;
  --color-text: #054a91;
  --color-muted: #81a4cd;
}

.text_logo {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.orbitron {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(90deg, #f17300, #feb47b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
   animation: fadeIn 1s ease-in-out;
}

@media (max-width: 768px) {
  .orbitron {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .orbitron {
    font-size: 1.5rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}