@import "tailwindcss";

* {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@theme {
    --color-primary: #054A91;
    --color-secondary: #3E7CB1;
    --color-accent: #F17300;
    --color-background: #FFFFFF;
    --color-card: #DBE4EE;
    --color-text: #054A91;
    --color-muted: #81A4CD;
}